<div id="container">
    <img src="assets/images/image-banner.svg" class="img-size">
    <div id="example">
        <h1 class="h1-style">About Us</h1>
        <p class="p-style">
            Novopay is a web-based payroll system for state and state integrated schools in New Zealand,
            processing the pay of 110,000 teaching and support staff at 2,457 schools.
        </p>
    </div>
</div>

<div class="container" id="example1">
    <div>
        <p class="home-text">
            <mat-icon mat-list-icon class="font-class">record_voice_over</mat-icon>
        </p>
        <p class="box-padding">News<span class="weight"> ></span></p>
        <p class="box-font padding-bottom">Get latest news about the company</p>
    </div>
    <div>
        <p class="home-text">
            <mat-icon mat-list-icon class="font-class">book</mat-icon>
        </p>
        <p class="box-padding">Articles<span class="weight"> ></span></p>
        <p class="box-font padding-bottom">Browse through all the latest articles</p>
    </div>
    <div>
        <p class="home-text">
            <mat-icon mat-list-icon class="font-class">redeem</mat-icon>
        </p>
        <p class="box-padding">Awards<span class="weight"> ></span></p>
        <p class="box-font padding-bottom">Awards won FY 2019 - 2020</p>
    </div>
</div>
<br />

<div class="row-align">
    <p class='prodlabel'>About Us</p>
    <hr class="prodHr" />
</div>
<div class="row about-us">
    <p>
        Novopay is a web-based payroll system for state and state integrated schools in New Zealand, processing the pay
        of 110,000 teaching and support staff at 2,457 schools.
        It was purchased by the New Zealand Ministry of Education for $182 million over ten years, and was implemented
        in August 2012 after seven years of planning and development by Australian human resources company Talent2.
        From the outset, the system led to widespread problems with over 8,000 teachers receiving the wrong pay and in
        some cases no pay at all; within a few months, 90% of schools were affected.
        The 'Novopay debacle' as it was called received almost daily media attention, causing embarrassment for the new
        Minister of Education Hekia Parata, and contributed to the resignation of newly recruited Education secretary
        Leslie Longstone.
        In October 2014, Novopay transitioned to be 100% operated by the New Zealand Ministry of Education under current
        Minister Responsible for Novopay, Steven Joyce.
        Talent2 continues to provide the software but services and the accuracy of payroll is now the responsibility of
        the Ministry of Education through the government owned company, Education Payroll Ltd.
        Under the new arrangement the government assumes full responsibility for the provision of the education payroll
        service. They have since spent millions ($45M by 2015) in taxpayer funds fixing problems with the system.
    </p>
</div>