@import "../../assets/content/variables.scss";
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 60%;
  padding: 10px;
  border-right: 1px solid $border-right;
}

.column1 {
  float: left;
  width: 40%;
  padding: 10px;
  text-align: center;
}

.row-align {
  width: 100%;
  margin: auto;
}

.prodlabel {
  color: $btn !important;
  margin-top: 1em;
  font-size: 18px;
  font-weight: 500;
}

hr.prodHr {
  border: 1px solid $orange;
}

.buttonWidth {
  width: 100%;
  border-radius: 0px;
  background-color: $btn;
  color: $white;
  border: none;
  margin-top: 1em;
}

button:disabled {
  background-color: rgb(170, 170, 170) !important;
  cursor: not-allowed;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.example-full-width {
  width: 100%;
  height: 68px;
}

.custom-btn {
  width: 100%;
  border-radius: 0px;
  background-color: $btn;
  color: $white;
  border: none;
  margin-top: 1em;
}

.color-head {
  color: $btn;
}

.color-sub-head {
  color: $dark-orange;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .cardClass {
    margin: auto;
    width: 350px;
    height: auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1) !important;
    padding: 10px;
    margin-top: 3em;
    margin-top: 0px;
    left: 300px;
    margin-bottom: 65px;
    min-height: 23em;
  }

  .mat-card {
    padding: 24px;
    border-radius: 2px;
    background: $white;
    color: rgba(0, 0, 0, 0.87);
    .example-container {
      display: flex;
      flex-direction: column;
      .paddingClass {
        text-align: center;
        padding-bottom: 5%;
        .headerSpacing {
          margin-right: 3%;
          .logoSize {
            width: 55%;
          }
        }
      }
      .example-form {
        padding-top: 1em;
        .example-full-width {
          width: 100%;
          height: 68px;
        }
        .alert {
          position: relative;
          padding-bottom: 0.1em;
          padding-top: 0.1em;
          padding-left: 0.5em;
          margin-bottom: 1rem;
          border: 1px solid transparent;
          border-radius: 0px;
          font-size: 12px;
        }
      }
      .buttonWidth {
        width: 40%;
        border-radius: 0px;
        background-color: $btn;
        color: $white;
        border: none;
      }

      .example-button-row {
        text-align: center;
        padding-top: 2em;
      }
    }
  }
  button:disabled {
    background-color: rgb(170, 170, 170) !important;
    cursor: not-allowed;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }

  .column1 {
    width: 100%;
  }
}
