<div class="align">

    <div class="row-align">
        <p class='prodlabel'>Product Category</p>
        <hr class="prodHr1" />
    </div>

    <div class="row">

        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Life Insurance
                    </p>

                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions2.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Health Insurance
                    </p>

                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Car Insurance
                    </p>

                </mat-card-content>
            </mat-card>

        </div>

    </div>

    <div class="row-align">
        <p class='prodlabel'>Products List</p>
        <hr class="prodHr2" />
    </div>

    <div class="row">

        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Jeewan Jyoti
                    </p>
                    <p class="prodContent">Term life insurance plan.</p>

                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions2.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Family Protect
                    </p>
                    <p class="prodContent">Health insurance. </p>

                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Car Guard
                    </p>
                    <p class="prodContent">Car insurance. </p>

                </mat-card-content>
            </mat-card>

        </div>

    </div>

    <div class="row-align">
        <p class='prodlabel'>Notifications</p>
        <hr class="prodHr3" />
    </div>

    <div class="row">

        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Jeewan Jyoti
                    </p>
                    <p class="prodContent">10% discount on premium.</p>
                    <p class="prodContent">From 1st Mar to 30th May 2020</p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions2.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        All car insurance
                    </p>
                    <p class="prodContent">5% discount on premium.</p>
                    <p class="prodContent">From 1st Mar to 30th May 2020</p>
                </mat-card-content>
            </mat-card>

        </div>
        <div class="column">
            <mat-card class="example-card">
                <img mat-card-image src="assets/images/promotions1.svg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="prodTitle">
                        Health insurance
                    </p>
                    <p class="prodContent">11% discount on premium.</p>
                    <p class="prodContent">From 1st Mar to 30th May 2020</p>
                </mat-card-content>
            </mat-card>

        </div>

    </div>
</div>